<div class="page-container">

  <div class="header">
    <div class="header-text">
      <h1>Mi Perfil</h1>
      <p>Actualiza tu foto e información personal.</p>
    </div>
  </div>

  @if(currentUser(); as user){
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-card neumorphic-panel-outset">
      
      <div class="avatar-section">
        <div class="avatar-preview-container">
          <img [src]="previewImg() || 'assets/user-default.jpg'" alt="Foto de perfil" class="avatar-preview">
        </div>
        <div class="avatar-actions">
          <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/png, image/jpeg">

          <button type="button" class="neumorphic-button-outset is-icon" (click)="fileInput.click()" matTooltip="Cambiar Foto">
            <mat-icon>photo_camera</mat-icon>
          </button>
          @if (previewImg()) {
            <button type="button" class="neumorphic-button-outset is-icon warn" (click)="removePhoto()" matTooltip="Eliminar Foto">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </div>
        <p class="avatar-note">JPG o PNG. Máx 5MB.</p>
      </div>


      <div class="details-section">
        <div class="form-grid">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido">
          </mat-form-field>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" readonly>
        </mat-form-field>

        <div class="form-footer">
          <button class="neumorphic-button-outset primary save-button" type="submit" [disabled]="isSubmitting() || profileForm.pristine">
            @if (isSubmitting()) {
              <mat-spinner [diameter]="24"></mat-spinner>
              <span>Guardando...</span>
            } @else {
              <mat-icon>save</mat-icon>
              <span>Guardar Cambios</span>
            }
          </button>
        </div>
      </div>
      
    </form>
  } @else {

    <div class="loading-container neumorphic-panel-outset">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      <p>Cargando perfil...</p>
    </div>
  }
</div>