:host {
  display: block;
  background: transparent !important;
}

// Scrollbar fina dorada para el contenido del dashboard
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #C5A059;
    border-radius: 10px;
  }
}
