
.auth-container {
  text-align: center;

  .auth-header {
    margin-bottom: 2rem;

    h1 {
      font-weight: 700;
    }

    p {
      font-size: 0.95rem;
      color: var(--text-secondary);
      line-height: 1.6;
      margin-top: 1rem;
    }

    .bi-envelope-check-fill {
      font-size: 3.5rem;
      color: #28a745; 
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-primary {
    background: #f0f0f3;
    color: var(--text-primary);
    border: none;
    border-radius: 0.75rem;
    padding: 0.9rem 1rem;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    box-shadow: 3px 3px 8px #cbced1,
                -3px -3px 8px #ffffff;

    &:hover:not(:disabled) {
      background: #e6e6ea;
      box-shadow: inset 2px 2px 5px #cbced1,
                  inset -2px -2px 5px #ffffff;
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: inset 2px 2px 5px #cbced1,
                  inset -2px -2px 5px #ffffff;
      transform: translateY(1px);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .auth-link {
    margin-top: 2rem;
    a {
      color: var(--text-primary);
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}